/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(left, #c6ef90, #cb755b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.v-text-field .v-input__details {
  display: none;
}
